body {
    background-color: rgb(228, 205, 233);
}

h1 {
    text-align: center;
    text-decoration: underline;
    font-size: 35px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.mainlinks {
    text-align: center;
    margin-top: 200px;
}

.recipeslinks {
    margin-top: 30px;
    margin-bottom: 30px;
}

h3 {
    font-weight: bolder;
    color: rgba(55, 43, 68, 0.805);
    text-decoration: underline;
}

.description {
    text-align: justify;

}

li strong {
    color: rgb(213, 32, 32);
    font-style: italic;
}

img {
    margin-left: 42.3%;
    text-decoration: line-through;
}
